{% extends "base_mashape.html" %}

{% block content %}
{% for service in services %}
<section class="status">
<!--{{ service.slug}}-->
<!--{{ service.url }}-->
<!--{{ service.url }}/{% now "Y/m/j" %}-->
<!--
{% if service.has_issues %}
{% endif %}
-->
  <h1><a href="{{ service.url }}">{{ service.name }}</a></h1>
    <div class="container">
      <div class="row">
        <div class="side"><p>Status:</p></div>
        <div class="center">
        <a href="{{ service.url }}" class="circle {{ service.status.slug }}"></a>
      </div>
      <div class="side">
        <p class="{{ service.status.slug }}">{{ service.status.name }}</p>
      </div>
    </div>
    <div class="history">
      {% for h in service.history %}
      <div class="col">
        <p>{{ h.day|date:"N d" }}</p>
	{% if h.information %}
	<a href="{{ service.url }}/{{ h.day|date:'Y/m/j' }}">
	  <span class="circle small {{ h.name|lower }}"></span>
	</a>
	{% else %}
	<span class="circle small {{ h.name|lower }}"></span>
	{% endif %}
        <p class="state {{ h.name|lower }}">{{ h.name }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endfor %}
{% endblock %}

{% block js_end %}
{% include "_js_end.html" %}
{% endblock %}
