{% extends "base_mashape.html" %}

{% block content %}
{% if start_date %}
<!--<h3 class="date-range">
  {{ start_date|date:"n/j/Y" }}
</h3>-->
{% endif %}
<section class="status">
  <h1>{{ service.name }}</h1>
  <h2>{{ service.description }}</h2>
  <div class="container">
    {% if events %}
    <div class="row events">
      <div class="col">Time</div>
      <div class="col">Status</div>
      <div class="col">Message</div>
    </div>
    {% for e in events %}
    <div class="events">
      <div class="col"><p class="light">{{ e.start|timesince }} ago</p></div>
      <div class="col"><span class="{{ e.status.name|lower }}"><span class="circle inline {{ e.status.name|lower }}"></span>{{ e.status.name }}</span></div>
      <div class="col">{{ e.message }}</div>
    </div>
    {% endfor %}
    {% else %}
    <h2 class="nothing">Nothing to see here.</h2>
    {% endif %}
  </div>
</section>
{% endblock %}

{% block js_end %}
{% include "_js_end.html" %}
{% endblock %}
